@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}



*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    padding: 2% 0 0 10% ;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.375rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    font-size: 1.5rem ;

}

.apresentacao{
    padding:6% 18%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria) ;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family:var(--fonte-primaria); 
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    color: var(--cor-secundaria);
    text-align: center;
    font-weight: 600px;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    font-size: 1.6875rem;
    padding: 25px 10px;
    cursor:pointer;
}

.apresentacao__img{
    display: flex;
    width: 37%;
    border-radius: 1rem;
    

}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1000px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 3.75rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 6%;
    }
    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__img{
        width: 70%;
    }

}


